[submodule "AmpersandData/AmpersandData/change-my-view-modes"]
	path = AmpersandData/AmpersandData/change-my-view-modes
	url = https://github.com/chridey/change-my-view-modes
[submodule "AmpersandData/change-my-view-modes"]
	path = AmpersandData/change-my-view-modes
	url = https://github.com/chridey/change-my-view-modes
